node_modules
modules.json*
devices.json*
activities.json*
profiles.json*
config.json*

google_token*
google_credentials*

https_key.pem*
https_cert.crt* 
https_csr.pem*
dead_code
compiled
conf-backups
gitpull.sh
test_image.jpg

third-party-docs
fedex_key.*

node1