label {
    display: inline-block;
    width: 5em;
    margin: .5em 0;
    color: #607D8B;
    font-weight: bold;
    font-size: 15pt;
  }
  input {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
  }
  button {
    margin-top: 20px;
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }

  .column {
    float: left;
    padding: 1px;
  }
  
  .devdeets {
    width: 40%;
    // border-style: solid;
    // border-width: 1px;
  }
  
  .harmony {
    width: 60%;
  }

  .flex-container {
    display: flex;
    flex-direction: row;
  }

  // [class*='col-'] {
  //   float: left;
  //   padding-right: 10px;
  //   padding-bottom: 10px;
  // }
  // [class*='col-']:last-of-type {
  //   padding-right: 0;
  // }