<div *ngIf="device" class="devdeets">
    <h2>{{ device.name | uppercase}}</h2>
    <div><span>Device ID: </span>{{ device.deviceID }}</div>
    <div>
      <label>Name:
        <span *ngIf="!editName">{{device.name}}</span>
        <input *ngIf="editName" [(ngModel)]="device.name" placeholder="Kitchen Coffeemaker">
      </label>
    </div>
    <div>
      <label>Device Type:
        <input [(ngModel)]="device.deviceType" placeholder="Wifi Switch">
      </label>
    </div>
    <div><span>Device Kind: </span>{{ device.deviceKind }}</div>
    <div>
      <label>Groups:
        <ul>
          <li *ngFor="let group of device.groups">
            <input display="inline-block" value={{group}}>
            <br>
          </li>
          <li>
            <input placeholder="e.g. bedroom">
            <br>
          </li>
        </ul>
      </label>
    </div>
    <button (click)="goBack()">go back</button>
</div>



<app-harmony-controls *ngIf="device" class="harmony column" [harmony_device]="device"></app-harmony-controls>