.router-info {
    float: left;
    border-style: solid;
    border-width: 1px;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    color: black;
    text-align: center;
}

.router-device {
    width: 40%;
    //left: 10px;
}

[class*='col-'] {
    float: left;
    margin-right: 5px;
    padding-bottom: 10px;
    margin-left: 10px;
  }
  [class*='col-']:last-of-type {
    padding-right: 0;
  }